<% layout("layouts/boilerplate.ejs") -%>
<body>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3><i>New Listing</i></h3>
            <form action="/listings" class="needs-validation" method="post" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" name="listing[title]" placeholder="Enter Title" type="text" required>
                    <div class="invalid-feedback">
                        Enter a valid Title
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="listing[description]" placeholder="Enter Description" type="text" required></textarea>
                    <div class="invalid-feedback">
                        Enter a valid Description
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input class="form-control" name="listing[image]" type="file" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input class="form-control" name="listing[price]" placeholder="Enter Price" type="number" required>
                        <div class="invalid-feedback">
                            Enter a valid Price
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input class="form-control" name="listing[country]" placeholder="Enter Country" type="text" required>
                        <div class="invalid-feedback">
                            Enter a valid Country
                        </div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" name="listing[location]" placeholder="Enter Location" type="text" required>
                    <div class="invalid-feedback">
                        Enter a valid Location
                    </div>
                </div>
                
                <br> 
                <button class="btn edit-btn">Add Listing</button>
            </form>
        </div>
    </div>
    <br><br>
    <script src="/js/script.js"></script>
</body>